
li
{
  list-style-type: none;
}
#work-main
{

  width: 70%;

  padding: 70px 120px 10px 0;
  position: relative;

  float:right;
}

/*subコンテンツ（左側のブロック）
---------------------------------------------------------------------------*/
 #work-sub
{
  text-align: center;
  float: left;/*左に回り込み*/
  width: 30% ;/*ブロックの幅*/
  padding: 70px 120px 10px 20px;
  position: relative;
}


/*sub,side共通設定
---------------------------------------------------------------------------*/
/*h2見出しタグ設定*/
#work-sub h2,
#work-side h2 {
	text-align: center;		/*文字をセンタリング*/
	border: 1px solid #ccc;	/*枠線の幅、線種、色*/
	padding: 8px 0px;		/*上下、左右への余白*/
	background: linear-gradient(#fff, #eee);	/*グラデーション*/
}
/*段落タグ（p）設定*/
#work-sub p,
#work-side p {
	line-height: 1.6;	/*行間を少し狭く*/
}

/*box1設定（sub,sideで使っています）
---------------------------------------------------------------------------*/
/*box1設定*/
#work-sub .box1,
#work-side .box1 {
	border: 1px solid #ccc;	/*枠線の幅、線種、色*/
	padding: 10px;			/*ボックス内の余白*/
	margin-bottom: 20px;	/*ボックスの下にあけるスペース*/
	background: #fafafa;	/*背景色*/
}
/*box1の中にsubmenuがある場合の下のmarginをなくす*/
.box1 .submenu {
	margin-bottom: 0 !important;
}

/*submenu（sub,sideのメニュー）
---------------------------------------------------------------------------*/
/*メニューブロック全体の設定*/
#work-sub .submenu,
#work-side .submenu {
	margin-bottom: 20px;		/*メニューブロックの下にあけるスペース*/
	border-top: 1px solid #ccc;	/*上の線の幅、線種、色*/
}
/*メニュー１個ごとの設定*/
#work-sub .submenu li a,
#work-side .submenu li a {
	text-decoration: none;display: block;
	padding: 0 10px;	/*上下、左右のボックス内の余白*/
	border: 1px solid #ccc;	/*枠線の幅、線種、色*/
	border-top: none;		/*上の線を消す設定*/
}
/*h2タグにsubmenuが続いた場合にsubmenuの上の線を消す*/
#work-sub h2 + .submenu, #work-side h2 + .submenu {
	border-top: none;
}

/*sub,sideコンテンツ内のlist-subボックス
---------------------------------------------------------------------------*/
/*ボックス１個あたりの設定*/
.list-sub {
	position: relative;overflow: hidden;
	border-left: 1px solid #dcdcdc;		/*左の線の線種、幅、色*/
	border-right: 1px solid #dcdcdc;	/*右の線の線種、幅、色*/
	border-bottom: 1px solid #dcdcdc;	/*下の線の線種、幅、色*/
	line-height: 1.5;					/*行間を少し狭くする。基本となる値は一番上のbodyにあります。*/
	font-size: 12px;					/*文字サイズ*/
}
.list-sub a {
	display: block;text-decoration: none;overflow: hidden;
	padding: 5px;	/*ボックス内の余白*/
}
/*マウスオン時のボックス*/
.list-sub a:hover {
	background: #fff;	/*背景色*/
}
/*h4タグ*/
.list-sub a h4 {
	font-weight: bold;	/*太字にする設定*/
}
/*段落(p)タグ*/
.list-sub p {
	padding: 0 !important;
}
/*画像*/
.list-sub figure {
	width: 30%;			/*画像の幅*/
	float: left;		/*左に回り込み*/
	margin-right: 5px;	/*画像右側に空ける余白*/
}

/*cart 関係 */
#cart {
	position: relative;overflow: hidden;
	padding: 25px;			/*ボックス内の余白*/
	border: 1px solid #ccc;	/*枠線の幅、線種、色*/
  text-align: center;
	margin-bottom: 20px;	/*ボックス同士の上下間に空けるスペース*/
	box-shadow: 2px 2px 10px rgba(0,0,0,0.15);	/*ボックスの影。右に、下に、広げる幅、0,0,0は黒の事で0.15は15%色がついた状態の事。*/
}
#cart p{
  float:center;
}
/*求人一覧ページの「詳細を見る・応募する」ボタン
---------------------------------------------------------------------------*/
.work-btn {
	display: block;text-decoration: none;
	background: #d90000;	/*背景色（古いブラウザ用）*/
	background: linear-gradient(#d90000, #a70000);	/*グラデーション*/
	color: #fff;		/*文字色*/
	font-size: 20px;	/*文字サイズ*/
	text-align: center;	/*文字をセンタリング*/
	padding: 10px;		/*ボタン内の余白*/
	border-radius: 4px;	/*角丸のサイズ*/
	letter-spacing: 0.2em;	/*文字間隔を広くとる設定*/
	box-shadow: 2px 2px 5px rgba(0,0,0,0.3);	/*ボックスの影。右に、下に、広げる幅、0,0,0は黒の事で0.3は色が30%ついた状態。*/
	border: 1px solid #a70000;	/*枠線の幅、線種、色*/
}
/*マウスオン時*/
.work-btn :hover{
	box-shadow: none;
	background: #fff;	/*背景色*/
	color: #a70000;		/*文字色*/
}
/* 掲示板関係
---------------------------------------------------------------------------*/

.board-wrapper {
  text-align: center;
  width: 400px;
  margin: 60px auto;
}
.board-list-wrapper {
  margin: 50px 0;
  text-align: left;
  width: 80%;

}

.board-list-title {
  padding-bottom: 10px;
  margin-bottom: 30px;
  border-bottom: 1px solid rgba(104, 107, 106, 0.15);
}

.board-list-title h4 {
  font-size: 22px;
}

.board-list-item {
  margin-bottom: 30px;
  background: #e5eef6;
  padding: 10px;
  margin: 50px;
  border-radius: 5px;
  width: 900px;
  float:left;
}

.board-list-title img, .review-list-title h4, .review-list-item img {
  display: inline-block;
  vertical-align: middle;
}

.icon-board {
  width: 40px;
  margin-right: 10px;
  margin-top: -12px;
}

.icon-user {
  width: 30px;
}

.board-user {
  width: 60px;
  display: inline-block;
  border-right: 1px solid #c1ced7;
  padding-right: 8px;
  text-align: center;
}

.board-text {
  display: inline-block;
  vertical-align: top;
  margin-top: 16px;
  margin-left: 10px;
  font-size: 15px;
  word-wrap: break-word;
  width:800px;
}
